<div class="container">
  <table class="table">
    <thead>
      <tr>
      <th>
        <div class="form-outline mb-4">
          <input type="search" class="form-control" [(ngModel)]="term" placeholder="Buscar">
        </div>
      </th>
      <th></th>
      <th></th>
      <th>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
          <a href="#" [routerLink]="['/usuarios/novo']" class="btn btn-primary">Novo Usuario</a>
        </div>
      </th>
      </tr>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Perfil</th>
        <th scope="col" width="250px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | filter:term">
        <td>{{ usuario.codigo }}</td>
        <td>{{ usuario.nome}}</td>
        <td>{{usuario.email }}</td>
        <td>{{usuario.perfil.nome }}</td>
        <td>
          <div class="btn-group">
            <button type="button" [routerLink]="['/usuarios', usuario.codigo,'edit']" class="btn btn-primary">Editar</button>
            <button type="button" (click)="remove(usuario.codigo)" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
