<div class="container">
  <table class="table">
    <thead>
      <tr>
      <th>
        <div class="form-outline mb-4">
          <input type="search" class="form-control" [(ngModel)]="term" placeholder="Buscar">
        </div>
      </th>
      <th></th>
      <th></th>
      <th>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
          <a href="#" [routerLink]="['/medicamentos/novo']" class="btn btn-primary">Novo Medicamento</a>
        </div>
      </th>
      </tr>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Nome Generico</th>
        <th scope="col">Fabricante</th>
        <th scope="col" width="220px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicamento of medicamentos | filter:term">
        <td>{{ medicamento.codigo }}</td>
        <td>{{ medicamento.nome}}</td>
        <td>{{medicamento.nomeGenerico }}</td>
        <td>{{medicamento.fabricante }}</td>
        <td>
          <div class="btn-group">
            <button type="button" [routerLink]="['/medicamentos', medicamento.codigo,'edit']" class="btn btn-primary">Editar</button>
            <button type="button" (click)="remove(medicamento.codigo)" class="btn btn-danger">Deletar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
