<div class="container">

  <div class="card">
    <h5 class="card-header bg-light ">Emitir Receita</h5>
  </div>

  <div class="container p-3 border bg-light mb-2">
    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default">Medicamento</span>
      <select class="form-select" [(ngModel)]="medicamentoReceita.medicamento.codigo" name="medicamento.codigo" >
        <option *ngFor="let m of medicamentos"  [value]="m.codigo">{{m.nome}}</option>
      </select>
    </div>
    <div class="input-group mb-2">
      <span class="input-group-text" id="inputGroup-sizing-default">Dose</span>
      <input type="text" [(ngModel)]="medicamentoReceita.dose" name="dose">
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
      <button class="btn btn-primary " type="button" (click)="adicionar()">Adicionar</button>
    </div>
  </div>

  <div class="container p-3 border bg-light mb-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Medicamento</th>
          <th scope="col">Dose</th>
          <th scope="col" width="250px">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let med of medicamentosReceita">
          <td>{{ med.medicamento.nome   }}</td>
          <td>{{ med.dose}}</td>
          <td>
            <div class="btn-group">
              <button type="button" (click)="remover(med)" class="btn btn-danger">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-group">
    <button type="button" (click)="emitir()" disabled class="btn btn-success">Emitir Receita</button>
    <button type="button" (click)="imprimir()" disabled class="btn btn-primary">Imprimir</button>
  </div>
</div>
