<div class="container">
  <table class="table">
    <thead>
      <tr>
      <th>
        <div class="form-outline mb-4">
          <input type="search" class="form-control" [(ngModel)]="term" placeholder="Buscar">
        </div>
      </th>
      <th></th>
      <th></th>
      <th>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
          <a href="#" [routerLink]="['/consultas/novo']" class="btn btn-primary">Marcar Consulta</a>
        </div>
      </th>
      </tr>
      <tr>
        <th scope="col">Médico</th>
        <th scope="col">Paciente</th>
        <th scope="col">Data</th>
        <th scope="col" width="250px">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of consultas | filter:term">
        <td>{{ consulta.agenda.usuario.nome}}</td>
        <td>{{ consulta.paciente.nome}}</td>
        <td>{{ consulta.agenda.data }}</td>
        <td>
          <div class="btn-group">
            <button type="button" (click)="cancelar(consulta.codigo)" class="btn btn-danger">Cancelar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
